<!DCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=0.7, minimum-scale=0.5, maximum-scale=2, user-scalable=yes">
  <link  href="/static/bootstrap/css/bootstrap.min.css"  rel="stylesheet">
  <title>页面找不到了</title>
</head>
    <body>
      <div class="jumbotron">
        <div class = "container">
	  <h1>页面找不到了。。</h1>
          <h3>这是404页面</h3>
          <h3>這是404頁面</h3>
<h3>This is a 404 page</h3>
<h3>Ceci est une page 404</h3>
<h3>これは404ページです</h3>
<h3>Это 404 страница</h3>
<h3>Esta es una página 404</h3>
<h3>이것은 404 페이지입니다.</h3>
<h3>100011111101100111001100010111100110100001100000011010010011000011101011001011101100010</h3>
	</div>
      </div>
      <footer class="footer" style="text-align:center;">
	<h1>
	  <small>
	    <span>&copy; Dreamera |</span>
            <span>by 10405 |</span>
	    <a href="mailto:1040591521@qq.com" data-show-count="true" data-lang="en">
                    Contact Dreamera
            </a>
	  </small>
	</h1>
      </footer>		
   </body>
</html>



