<script type="text/javascript">

    function add() {
        
        if($("#title").val()){            
            $("#title").css("border-color", "#f90");
        }

        if($("#picture").val()) {
            $("#picture").css("border-color", "#f90");
        }

        if($("#datetime").val()) {
            $("#datetime").css("border-color", "#f90");
        }

        if($("#timestr").val()) {
            $("#timestr").css("border-color", "#f90");
        }

        if($("#place").val()) {
            $("#place").css("border-color", "#f90");
        }

    }

</script>


{% extends "base.html" %}

{% block content %}
  <div class="container-fluid content">

    {% include "nav_add_picture.html" %}  
  
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
	<form id="form" method="get" action="../add_picture/">
          <div class="form-group">
            <label for="title">Picture Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Picture Title">
          </div>        
          <div class="form-group">
            <label for="picture">Picture</label>
            <input type="file" id="picture" name="picture">
          </div>
          <div class="form-group">
            <label for="datetime">Datetime</label>
            <input type="datetime-local" class="form-control" id="datetime" name="datetime" placeholder="Datetime">
          </div>
          <div class="form-group">          
            <label for="timestr">Time str</label>
            <input type="text" class="form-control" id="timestr" name="timestr" placeholder="Time str">
          </div>
          <div class="form-group">          
            <label for="detail_title">Detail title</label>
            <input type="text" class="form-control" id="detail_title" name="detail_title" placeholder="Detail title">
          </div>
          <div class="form-group">          
            <label for="place">Place</label>
            <input type="text" class="form-control" id="place" name="place" placeholder="Place">
          </div>
          <div class="form-group">          
            <label for="longitude">Longitude</label>
            <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Longitude">
          </div>
          <div class="form-group">          
            <label for="latitude">Latitude</label>
            <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Latitude">
          </div>          
          <button type="submit" class="btn btn-default" onclick="add()">Submit</button>
        </form>	
      </div>
        
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
{% endblock %}




