<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=0.7, minimum-scale=0.5, maximum-scale=2, user-scalable=yes">
    <link  href="/static/bootstrap/css/bootstrap.min.css"  rel="stylesheet">
    <script src="/static/bootstrap/js/jquery-3.2.1.min.js"></script>	
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <title>Dreamera</title>
    <style type="text/css"> 
      #picture{
          text-align:center;
      }
    </style>
  </head>
  <body>
      <div class = "container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="#">Dreamera</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home </a></li>
              <li><a href="http://www.dreamera.net:8080/cross/">REST</a></li>
              <li><a href="https://github.com/lijialinneu/DreameraApp">GitHub</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

	  <div class="row">
            <div class="col-md-6">                               
              <div class="carousel slide" id="carousel-231811" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-slide-to="0" data-target="#carousel-231811" class="active" ></li>
                  <li data-slide-to="1" data-target="#carousel-231811" ></li>
                  <li data-slide-to="2" data-target="#carousel-231811"></li>
                </ol>                        
                <div class="carousel-inner">
                  <div class="item active">
                    <center><img alt="" src="/static/android.png" /></center>
                  </div>                        
                  <div class="item">
                    <center><img alt="" src="/static/android2.png" /></center>
                  </div>                        
                  <div class="item">
                    <center><img alt="" src="/static/android3.png" /></center>
                  </div>
                </div>
              </div>
	    </div>
	    <div class="col-md-6" id="picture">
              <h2>Welcome to Dreamera</h2>
              <h2>拍照后水印建筑物老照片</h2>
	      <h2>Android v1.0<small>&emsp;浏览器扫码</small></h2>           
	      <img src="/static/QRCode.png" alt="..." class="img-rounded">			
	      <h2>Android v2.0<small>&emsp;浏览器扫码</small></h2>    
              <img src="/static/new_branch.png" alt="..." class="img-rounded">
	    </div>	
	 </div>
    </div>
      <footer class="footer" style="text-align:center;">
	<h2>
	  <small>
	    <span>&copy; Dreamera |</span>
	    <span>by 10405 |</span>
	    <a href="mailto:1040591521@qq.com" data-show-count="true" data-lang="en">
                    Contact Dreamera
            </a>
	  </small>
	</h2>
      </footer>		
   </body>
</html>

