<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Dreamera</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">        
        <li id="nav_place_list"><a href="{% url 'place_list' %}">Places</a></li>
        <li id="nav_picture_list"><a href="{% url 'picture_list' %}">Pictures</a></li>
        <li id="nav_add_place"><a href="{% url 'add_place' %}">AddPlace</a></li>
        <li id="nav_add_picture"><a href="{% url 'add_picture' %}">AddPicture</a></li>
        <li id="nav_laboratory"><a href="{% url 'laboratory' %}">Laboratory</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="nav_sign_in"><a href="{% url 'account:sign_in' %}">Sign in or Sign up</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
            Github<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/lijialinneu/GWS">Dreamera Server</a></li>
            <li><a href="https://github.com/lijialinneu/DreameraApp">Dreamera App</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
