{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
      {%include "nav_picture_list.html"%}

      <div class="row">

      {% for picture in picture_list %}
	   <div class="col-sm-8 col-md-4 col-lg-3">	      
             <center>
	      <div class="caption">
	        {% if picture.picture %}
                  
		<img src="../../media/{{picture.picture}}" class="img-rounded" style="width:360px;height:270px;">
		{% else %}
		  <img src="" alt="...">
		{% endif %}
		<p>{{ picture }}</p>    
	      </div>
            </center>
	  </div>
	  {% empty %}
	  <center>  <h3><small>数据为空</small></h3></center>
      {% endfor %}


      </div>

    </div>
<p></p>
{% endblock %}

