<style type="text/css">
  #left_list {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
  }
</style>

<script type="text/javascript">

  function mapPanTo(id, index, name, picture) {
      var point = markers[index-1].getPosition();
      map.centerAndZoom(point, 18);
      sContent="<div><h4>" + name + "</h4>" + 
          "<img style='float:right, margin:4px' width='139' height='104' src="+ picture_url + picture +" '>" +
          "<p><a href='../place_show/" + id + "/' target='_blank'>查看更多</a></p></div>";
      var infoWindow = new BMap.InfoWindow(sContent); 
      map.openInfoWindow(infoWindow, point);      
      
  }

  function search() {
      if(!$("#name").val()) {
          alert("Place Name 不能为空");
          $("#name").css("border-color", "#f90");
      }else {
          $("#name").css("border-color", "");
          $("#form").submit();
      }
  }

</script>

{% extends "base.html" %}


{% block content %}
    <div class="container-fluid content">

      {% include "nav.html" %}  
      <script type="text/javascript">    
        $(document).ready(function(){
          $("#nav_place_list").attr("class","active");
        });
      </script>
      <div class="row">

        <div class="col-md-8 col-md-push-4">
          {% include "map.html" %}
        </div>
        
        <div class="col-md-4 col-md-pull-8">
         <div class="panel panel-info"> 
           <div class="panel-heading">热门城市</div> 
           <div class="panel-body">
             <a class="city" href="#">沈阳</a>、
             <a class="city" href="#">南京</a>、
             <a class="city" href="#">北京</a>、 
             <a class="city" href="#">葫芦岛</a>、
             <a class="city" href="#">大同</a>...
           </div>
         </div> 

         <script type="text/javascript">
          
           $(document).ready(function(){
             $(".city").click(function(){
                 var city = $(this).text();
                 if(city != "") {
                   map.centerAndZoom(city, 12);
                 }
             });
          });
         </script>


          <form id="form" method="get" action="../place_list/">
            <div class="input-group">
              <input type="text" name="name" id="name" class="form-control" placeholder="Search by name...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="search()">Search</button>
              </span>
            </div>
          </form>
          <p></p> 
          <div id="left_list">
            <div class="list-group">
            {% for place in place_list %}
             {% with picture=place.cross_pictures|first %}
         <a href="#" class="list-group-item" onclick="mapPanTo({{place.id}}, {{forloop.counter}},'{{place.name}}', '{{picture.picture}}');" > 
              {{forloop.counter}}  {{place.name}} 
              </a>
             
              <script type="text/javascript">
                  pt = new BMap.Point({{place.longitude}},{{place.latitude}});
                  marker = new BMap.Marker(pt);              
                  label = new BMap.Label( "{{ place.name }}" , {offset: new BMap.Size(20, 10)});
                  label.setStyle({maxWidth:"none"});
                  marker.setLabel(label);
                  marker.addEventListener("click", function(){
                      mapPanTo({{place.id}}, {{forloop.counter}},"{{place.name}}", "{{picture.picture}}");
                  });
                  markers.push(marker);
              </script> 
              {% endwith %}
            {% empty %}
            <center> <h3><small>数据为空</small></h3></center>
            {% endfor %}
            <script type="text/javascript">
                var markerClusterer = new BMapLib.MarkerClusterer(map, {markers:markers});
            </script>
          </div>
        </div>
      </div>
    </div>
</div>
<p></p>
{% endblock %}







