<script type="text/javascript">
    function search() {
        if(!$("#picture").val()) {
            alert("未选择图片");
        }else {
            $("#form").submit();
        }
    }
</script>

{% extends "base.html" %}

{% block content %}
  <div class="container-fluid content">

    {% include "nav.html" %}  
    <script type="text/javascript">
      $(document).ready(function () {
        $("#nav_similar_pictures").attr("class", "active");
      });
    </script>

    <div class="row">
      <div class="alert alert-warning" role="alert"> 
         实验室功能：以图搜图,找到相似的图片
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-8">

	<form id="form" method="post" action="../similar_pictures/" enctype="multipart/form-data">
          <div class="form-group">
            <label for="picture">Input Picture</label>
            <input type="file" id="picture" accept="image/*" name="picture">
          </div>
          <button type="submit" class="btn btn-default" onclick="search()">Submit</button>
        </form>
      </div>
        
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      {% for p in similar_list %}
        <div class="col-sm-8 col-md-4 col-ld-3">
          <center>
          <div class="caption">
              {% with image=p|first %}
              <img width='400' height='300' src="../media/{{image.picture}}"></img>
              <p>{{image}} 相似度:{{p|last}}</p>
              {% endwith %}
          </div>
          </center>
        </div>         
      {% empty %}
      <center><p>暂时没有数据哦</p> </center>
      {% endfor %}   
    </div>
  </div>

{% endblock %}




